doctype html
html
    head
        link(rel='stylesheet', href='css/style.css')
        meta(name='viewport', content='width=device-width')
        title Nu Magic - New magic and you
        
    body
        h1 Products
        table
            thead
                tr
                    th Name
                    th Price
                    th Stock
                    th featured
                    th category
            tbody
                each product in products
                    tr
                        td= product.name
                        td= product.price
                        td= product.stock
                        td= product.featured
                        td
                            - each category in product.product_categories
                                p= category.category.name
        form(action="/api/products" method="post")
            input(type="text" name="name" placeholder="Product Name")
            input(type="number" name="price" placeholder="Product Price")
            input(type="number" name="stock" placeholder="Stock")
            input(type="number" name="weight" placeholder="Weight")
            input(type="number" name="width" placeholder="Width")
            input(type="number" name="height" placeholder="Height")
            input(type="checkbox" name="featured" value="true")
            label Featured
            select(name="category" multiple)
                each category in categories
                    option(value=category.id)= category.name
            input(type="submit")
        br
        form(action="/api/categories" method="post")
            input(type="text" name='name' placeholder="Category Name")
            input(type="submit")
