extend ../layout.jade

block content
    - var per_page = 1;
    - var page = { current: 1, total: Math.ceil( products.length / per_page ) };
    .products.card
        h2 Products
        table
            thead
                tr 
                    th Name
                    th Price
                    th Stock
                    th Updated_at
                    th Created_at
                    th Delete
            tbody
                if products
                    each product in products
                        tr
                            td= product.name
                            td= product.price
                            td= product.stock
                            td= product.updatedAt
                            td= product.createdAt
                            td 
                                form(action="/api/products/delete" method="post")
                                    input(type="text" name="id" value=product.id hidden)
                                    button(type="submit") Delete
            tfoot
                tr
                    ul.pagination
                        - for (var i=0; i < page.total; i++)
                            li
                                a(href="#")= i + 1
